main {
  min-height: 100vh;
}

header {
  background-color: var(--card-background-color);
  max-height: 64px;
  align-content: center;
  display: grid;
}

footer {
  clear: both;
  position: relative;
  height: 64px;
  margin-top: -32px;
}

.link-nav a {
  border: none;
}

.centered-content {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.unjustified {
  justify-content: inherit;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.desktop-nav {
  display: block;
}

.mobile-nav {
  display: none;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: var(--primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather:hover {
  stroke: var(--primary-hover);
}

.white {
  stroke: var(--color);
}

.white:hover {
  stroke: var(--color);
}

.column-list {
  columns: 2;
}

@media (max-width: 769px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .next-prev {
    font-size: 14px;
  }

  .column-list {
    columns: 1;
  }
}
