main {
  min-height: 100vh;
}

header {
  background-color: var(--card-background-color);
  max-height: 64px;
  align-content: center;
  display: grid;
}

footer {
  clear: both;
  position: relative;
  height: 64px;
  margin-top: -64px;
}

.centered-content {
  display: grid;
  justify-content: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media (max-width: 769px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
