<header>
  <nav class="container">
    <ul>
      <li>
        <a href="{{ .Site.BaseURL }}" role="button" class="outline contrast">
          <strong>{{ .Site.Title }}</strong>
        </a>
      </li>
    </ul>
    <ul class="mobile-nav">
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link">
            <svg class="feather">
              <use href="/assets/feather-sprite.svg#menu"/>
            </svg>
          </summary>
          <ul role="listbox">
            {{ partial "header/pages.html" . }}
            <hr />
            {{ partial "header/sections.html" . }}
          </ul>
        </details>
      </li>
    </ul>
    <ul class="desktop-nav">
      {{ partial "header/pages.html" . }}
    </ul>
    <ul class="desktop-nav">
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link">
            {{ T "header.dropdownTitle" }}
          </summary>
          <ul role="listbox">
            {{ partial "header/sections.html" . }}
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
