{{ if .Params.useNextPrev }} {{ if or .PrevInSection .NextInSection }}
<nav>
  <ul></ul>
  <ul>
    {{ with .PrevInSection }}
    <li>
      <a href="{{ .Permalink }}" class="next-prev">
        <svg class="feather">
          <use href="/assets/feather-sprite.svg#chevrons-left" />
        </svg>
        {{ T "nextPrev.goTo" . }}
      </a>
    </li>
    {{ end }} {{ with .NextInSection }}
    <li>
      <a href="{{ .Permalink }}" class="next-prev">
        {{ T "nextPrev.goTo" . }}
        <svg class="feather">
          <use href="/assets/feather-sprite.svg#chevrons-right" />
        </svg>
      </a>
    </li>
    {{ end }}
  </ul>
  <ul></ul>
</nav>
{{ end }} {{ end }}
