{{ if .Params.useNextPrev }} {{ if or .PrevInSection .NextInSection }}
<nav>
  <ul></ul>
  <ul>
    {{ with .PrevInSection }}
    <li>
      <a href="{{ .Permalink }}" class="next-prev">
        <span>
          <svg class="feather">
            <use href="/assets/feather-sprite.svg#chevrons-left" />
          </svg>
          {{ .Name }}
        </span>
      </a>
    </li>
    {{ end }} {{ with .NextInSection }}
    <li>
      <a href="{{ .Permalink }}" class="next-prev">
        <span>
          {{ .Name }}
          <svg class="feather">
            <use href="/assets/feather-sprite.svg#chevrons-right" />
          </svg>
        </span>
      </a>
    </li>
    {{ end }}
  </ul>
  <ul></ul>
</nav>
{{ end }} {{ end }}
